//colors
$bodyBg: #fefefe;
$themePrimaryColor: #84202e;
$themeSecondaryColor: #bb3630;
$textColor: #a9a9a9;
$darkColor: #000000;
$borderPrimaryColor: #eee;
$focusColor: #84202e;

//layout
$borderRadiusBase: 5px;
$headerSize: 80px;
$siderSize: 350px;

//forms
$inputSize: 38px;
$inputTextSize: 0.75rem;
$inputShadow: 0 0 10px rgba(#6a6a6a, 0.15) !important;
$inputPlaceHolderColor: rgba($textColor, 0.75);
$inputTextColor: #494949;
$inputBorder: 1px solid rgba(#a9a9a9, 0.5) !important;
$inputBorderRadius: 9px;

// font families

$fontPrimary: 'Helvetica' !important;
